##########################################
# Local database settings (for NSS & PAM)
##########################################

# Absolute path to the SQLite database.
# Required setting. No default value.
db_path = /run/ega-users.db

# Per site configuration, to shift the users id range
# Default: 10000
#ega_uid_shift = 1000

# The group to which all users belong.
# For the moment, only only.
# Required setting. No default.
ega_gid = 997

# This causes the PAM sessions to be chrooted into the user's home directory.
# Useful for SFTP connections, but complicated for regular ssh
# connections (since no proper environment exists there).
# Default: false
chroot_sessions = yes

# Per site configuration, where the home directories are located
# The user's name will be appended.
# Required setting. No default.
ega_dir = /ega/inbox
ega_dir_attrs = 2750 # rwxr-s---

# sets the umask for each session (in octal format)
# Default: 027 # world-denied
#ega_dir_umask = 027

# The user's login shell.
# Default: /bin/bash
#ega_shell = /bin/aspshell-r

##########################################
# OpenID Connect
##########################################

# Client credentials. Required
client_id = lega
client_secret = something-probably-long

# OpenID Connect server
# We use the authorization code flow
idp_url = https://idp.ega-archive.org/authorize

# Redirection URL after a code is exchanged for an access token
redirect_uri = http%3A%2F%2Ftf.crg.eu%3A9090%2Ftokens%2F

